@-webkit-keyframes pulse {
  from {
    -webkit-filter: drop-shadow(0px 0px 2px #9A3BB1) invert(0%);
            filter: drop-shadow(0px 0px 2px #9A3BB1) invert(0%);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 8px #9A3BB1) invert(90%);
            filter: drop-shadow(0px 0px 8px #9A3BB1) invert(90%);
  }
}
@keyframes pulse {
  from {
    -webkit-filter: drop-shadow(0px 0px 2px #9A3BB1) invert(0%);
            filter: drop-shadow(0px 0px 2px #9A3BB1) invert(0%);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 8px #9A3BB1) invert(90%);
            filter: drop-shadow(0px 0px 8px #9A3BB1) invert(90%);
  }
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #718093;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f3640;
  padding: 16px 64px;
}

.navbar-logo {
  width: 50px;
  height: 50px;
  -webkit-animation: pulse 2048ms linear infinite alternate;
          animation: pulse 2048ms linear infinite alternate;
}
.navbar-logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.navbar-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar-menu__item:not(:last-of-type) {
  margin-right: 16px;
}
.navbar-menu__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Impact";
  color: #00a8ff;
  -webkit-transition: color 384ms linear;
  transition: color 384ms linear;
  padding: 8px;
  letter-spacing: 2px;
  z-index: 2;
}
.navbar-menu__link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background-color: rgba(156, 136, 255, 0.8);
  -webkit-transition: height 384ms linear;
  transition: height 384ms linear;
  z-index: -1;
}
.navbar-menu__link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background-color: rgba(156, 136, 255, 0.8);
  -webkit-transition: height 384ms linear;
  transition: height 384ms linear;
  z-index: -1;
}
.navbar-menu__link:hover {
  color: #273c75;
}
.navbar-menu__link:hover::before {
  height: 50%;
}
.navbar-menu__link:hover::after {
  height: 50%;
}
.navbar-menu__link--active {
  color: #e1b12c;
}

.main {
  width: 100%;
  height: auto;
}

.main-content {
  width: 100%;
  height: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-content__title {
  font-family: "Courier";
  font-size: 32px;
}
.main-content__subtitle {
  font-family: "Courier";
  font-size: 32px;
}